@model IEnumerable<ASPCoreToDo.Models.ToDo>

@{
    ViewData["Title"] = "ToDo";
}

<h1>ToDo</h1>

<p>
    <a asp-action="ToDoAdd">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>            
            <td>
                @Html.ActionLink("Edit", "ToDoEdit", new { id=item.Id }) |         
                @Html.ActionLink("Delete", "ToDoDelete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
